
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dropdownsite</title>
</head>
<body>
    <div>
        @Html.DropDownList("spillerelist1", ViewBag.spillerelistname as SelectList, "Vælger spiller")
    </div>
</body>
</html>
