@model IEnumerable<Bordfodbold.Models.Spiller>

@{
    ViewBag.Title = "Home Page";



}


<div class="jumbotron">
    <h4>Kamp</h4>

</div>

@using (Html.BeginForm("GemKamp", "Home")) {
    <div class="row">
        <div class="col-md-4">

            <h3>Team Rød <input type="number" name="rødmål" style="width:55px;" /></h3>

            @Html.DropDownList("Spiller1", new SelectList(
       Model,
       "Spiller_Name",
       "Spiller_Name"))
            <br />
            @Html.DropDownList("Spiller2", new SelectList(
      Model,
      "Spiller_Name",
      "Spiller_Name"))

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <input type="submit" value="Start" name="start" />

        </div>

        <div class="col-md-4">
            <br />
            <br />
            <div style="margin-left: auto; margin-right: auto; text-align: center;">
                <h1> VS </h1>
            </div>

        </div>

        <div class="col-md-4" style="text-align: right;">
            <h3><input type="number" name="blåmål" style="width:35px;" /> Team Blå </h3>

            @Html.DropDownList("Spiller3", new SelectList(
           Model,
           "Spiller_Name",
           "Spiller_Name"))
            <br />
            @Html.DropDownList("Spiller4", new SelectList(
             Model,
             "Spiller_Name",
             "Spiller_Name"))

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <!--funktion til GemKamp() skrives her-->






            <input type="submit" value="Gem" name="gem" />
            
        </div>
    </div>
}