@using Bordfodbold.Models;
@model IEnumerable<Spiller>

@{
    ViewBag.Title = "Home Page";



}

<div class="jumbotron">
    <h4>Kamp</h4>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Team Rød <input type="number" name="rødmål" style="width:35px;" /></h3>
        <select class="form-control" id="Spillernavn" name="SpillerNavn">
            <option>Vælg spiller 1</option>
            <option>Male</option>
            <option>Female</option>
        </select>
        <br />
        <select class="form-control" id="Spillernavn" name="SpillerNavn">
            <option>Vælg spiller 2</option>
            <option>Male</option>
            <option>Female</option>
        </select>

        @Html.DropDownList("Vælg Spiller", new SelectList(
        Model,
        "Spiller_Name",
        "Spiller_Name"))


        @*@using (Html.BeginForm("Index", "Spiller"))
        {
            @Html.TextBox("Spiller_Name")



            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <input type="submit" value="Start Kamp" name="start" />

        }
        @foreach (var s in Model)
        {
            @Html.DisplayFor(modelitem => s.Spiller_Name)
            @Html.DisplayFor(modelitem => s.Spiller_Maal)
        }*@

    </div>

    <div class="col-md-4">
        <br />
        <br />
            <div style="margin-left: auto; margin-right: auto; text-align: center;">
            <h1> VS </h1>
            </div>

    </div>
    
    <div class="col-md-4" style="text-align: right;">
        <h3><input type="number" name="blåmål" style="width:35px;"/> Team Blå </h3>
        <select class="form-control" id="Spillernavn" name="SpillerNavn" >
            <option>Vælg spiller 1</option>
            <option>Male</option>
            <option>Female</option>
        </select>
        <br />
        <select class="form-control" id="Spillernavn" name="SpillerNavn">
            <option>Vælg spiller 2</option>
            <option>Male</option>
            <option>Female</option>
        </select>

        <br />
        <br />    
        <br />    
        <br />    
        <br />   
        <br />    
        <br />    
        <br />
        <input type="button" value="Gem"/>

    </div>
</div>