@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h4>Kamp</h4>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Team Rød</h3>
        <select class="form-control" id="Spillernavn" name="SpillerNavn">
            <option>Vælg spiller 1</option>
            <option>Male</option>
            <option>Female</option>
        </select>
        <br />
        <select class="form-control" id="Spillernavn" name="SpillerNavn">
            <option>Vælg spiller 2</option>
            <option>Male</option>
            <option>Female</option>
        </select>



        @model 

        @Html.DropDownList("StudentGender",
                            new SelectList(Enum.GetValues(typeof(Gender))),
                            "Select Gender",
                            new { @class = "form-control" })
    </div>

    <div class="col-md-4">
        <br />
        <br />
            <div style="margin-left: auto; margin-right: auto; text-align: center;">
            <h1> VS </h1>
            </div>

    </div>

    <div class="col-md-4">
        <h3>Team Blå</h3>
        <select class="form-control" id="Spillernavn" name="SpillerNavn">
            <option>Vælg spiller 1</option>
            <option>Male</option>
            <option>Female</option>
        </select>
        <br />
        <select class="form-control" id="Spillernavn" name="SpillerNavn">
            <option>Vælg spiller 2</option>
            <option>Male</option>
            <option>Female</option>
        </select>

    </div>
</div>